@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

body {
  background-color: #022b42;
  font-family: "Baloo 2", sans-serif;
  display: flex;
  justify-content: center;
}

#display {
  width: 300px;
  height: 50px;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  border-radius: 20px;
  background-color: #71717180;
  color: #2092c7;
  border: none;
  text-align: end;
  overflow: hidden;
}

input:focus {
  outline: none;
}

#back {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 8px 0px;
}

#Calculator {
  width: 350px;
  background-color: rgb(7, 5, 5);
  border-radius: 20px;
  filter: drop-shadow(11px 8px 25px #006da4);
  border: 5px solid #006da4;
}

button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #006da4;
  color: rgb(19, 23, 8);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #7dc0f4;
}

button:active {
  background-color: #63b4f2;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
  margin-right: -15px;
}

.operator {
  background-color: orange;
}

.operator:hover {
  background-color: #f6c32c;
}

.operator:active {
  background-color: #f4812e;
}
@media (max-width: 768px) {
  #back {
    padding: 0px;
  }
}
