@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color:#395886;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 50vw;
  padding: 10px;
  background:#628ecb;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(241, 233, 233, 0.488);
  backdrop-filter: blur(8.3px);
  border: 2px solid #d5deef;
}

#clock {
  font-size: 30px;
  color: #d5deef;
  margin-top: 5px;
  border-bottom: 4px dotted #cbcdcf;
}
#datediv {
  margin-top: 10px;
  color: #d5deef;
  font-size: 30px;
  text-align: center;
}
#date {
  border-bottom: 4px dotted #c3c7cf;
}
